/* Extra small devices [COL] (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

	/* Header Start */
	header {
		padding: 10px 0;
	}
	.custom-menu ul li a {
		text-align: center;
		font-size: 18px;
		padding:5px 0 !important;
	}
	/* Header End */

	/* Banner Section Start */
	.slider {
		padding-bottom: 60px;
	}
	.c-c-ind {
		bottom: -55px;
	}
	.carousel-content {
		margin: 0;
		text-align: center;
	}
	.custom-h1 {
		font-size: 21px;
		letter-spacing: 1px;
		word-spacing: 1px;
		margin-top: 0;
		margin-bottom: 10px;
	}
	.custom-h5 {
		font-size: 18px;
		letter-spacing: 1px;
		word-spacing: 1px;
		margin: 15px auto;
	}
	.carousel-content p {
		margin-bottom: 15px;
	}
	.content-icon {
		margin: 0;
	}
	.content-icon li i {
		font-size: 35px;
		padding-right: 10px;
	}
	.carousel-img {
		text-align: center;
	}
	/* Banner Section End */

	/* Features Section Start */
	.features {
		margin: 40px auto;
	}
	.features-body {
		margin-top: 15px;
		text-align: center;
	}
	.features-icon i {
		font-size: 40px;
	}
	.custom-h2 {
		font-size: 20px;
		letter-spacing: 1px;
		word-spacing: 1px;
	}
	/* Features Section End */

	/* Contact Section Start */
	.contact {
		padding-top: 40px;
		padding-bottom: 10px;
	}
	.custom-form {
		margin: 15px auto;
	}
	.custom-input {
		padding: 15px 10px !important;
		margin-bottom: 15px;
	}
	.custom-button {
		padding: 6px 0;
	}
	.social-media-icon{
		margin-top: 15px;
	}
	.social-media-icon ul li a {
		padding: 0 8px !important;
	}
	/* Contact Section End */

	/* Footer Start */
	footer {
		padding: 40px 0;
	}
	.footer-content {
		text-align: center;
	}
	/* Footer End */
}

/* Small devices [SM] (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

	/* Header Start */
	header {
		padding: 20px 0;
	}
	.custom-menu ul li a {
		text-align: right;
		font-size: 20px;
		padding:5px 0 !important;
	}
	/* Header End */

	/* Banner Section Start */
	.slider {
		padding-bottom: 60px;
	}
	.c-c-ind {
		bottom: -45px;
	}
	.carousel-content {
		margin: 0;
	}
	.custom-h1 {
		font-size: 21px;
		letter-spacing: 1px;
		word-spacing: 1px;
		margin-top: 0;
		margin-bottom: 10px;
	}
	.custom-h5 {
		font-size: 18px;
		letter-spacing: 0;
		word-spacing: 0;
		margin: 15px auto;
	}
	.carousel-content p {
		margin-bottom: 15px;
	}
	.content-icon {
		margin: 0;
	}
	.content-icon li i {
		font-size: 35px;
		padding-right: 10px;
	}
	/* Banner Section End */

	/* Features Section Start */
	.features {
		margin: 40px auto;
	}
	.features-body {
		margin-top: 20px;
	}
	.features-icon i {
		font-size: 40px;
	}
	.custom-h2 {
		font-size: 20px;
	}
	/* Features Section End */

	/* Contact Section Start */
	.contact {
		padding-top: 40px;
		padding-bottom: 10px;
	}
	.custom-form {
		margin: 20px auto;
	}
	.custom-input {
		padding: 20px 10px !important;
		margin-bottom: 20px;
	}
	.custom-button {
		padding: 8px 0;
	}
	.social-media-icon{
		margin-top: 20px;
	}
	/* Contact Section End */

	/* Footer Start */
	footer {
		padding: 40px 0;
	}
	.footer-content {
		text-align: center;
	}
	/* Footer End */

}

/* Medium devices [MD] (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	/* Header Start */
	.custom-menu ul li a {
		padding:0 15px!important;
	}
	/* Header End */

	/* Banner Section Start */
	.slider {
		padding-bottom: 80px;
	}
	.c-c-ind {
		bottom: -65px;
	}
	.carousel-content {
		margin: 35px auto;
	}
	/* Banner Section End */

	/* Features Section Start */
	.features {
		margin: 50px auto;
	}
	.features-body {
		margin-top: 30px;
	}
	.features-icon i {
		font-size: 40px;
	}
	.custom-h2 {
		font-size: 20px;
	}
	/* Features Section End */

	/* Contact Section Start */
	.contact {
		padding-top: 50px;
		padding-bottom: 20px;
	}
	.custom-form {
		margin: 30px auto;
	}
	.custom-input {
		padding: 20px 10px !important;
	}
	.social-media-icon{
		margin-top: 30px;
	}
	/* Contact Section End */

	/* Footer Start */
	footer {
		padding: 50px 0;
	}
	/* Footer End */

}

/* Large devices [LG](desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	/* Contact Section Start */
	.custom-form {
		margin: 30px auto;
	}
	.custom-input {
		padding: 22px 10px !important;
	}
	.social-media-icon{
		margin-top: 30px;
	}
	/* Contact Section End */

}

/* Extra large devices [XL] (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
}